:root{
  --black: #151515;
  --dark-gray: #242424;
  --gray: #d9d9d9
  --white: #ffffff;
  --red: #ff6f5b;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    padding: 20px;
    text-align: center;
    margin: auto;
  }
  
  .intro-links a {
    margin-right: 10px; /* Adjust the margin value as needed */
  }

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: #999;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
