.about-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  margin: 20px;
  font-size: 25px;
}

.about-grid-item{
  max-width: 500px;
}

.about-grid-item img{
  width: 100%;
  min-width: 200px;
}

.about-grid-item p{
  text-align: end;
  overflow-wrap: break-word;
  text-wrap: wrap;
}

.about-me-paragraph{
  margin-right: 25px;
  margin-left: 25px;
}

@media (max-width: 700px) {
  .about-grid{
    grid-template-columns: 1fr;
    padding: 0px;
  }